div(
  id="eqviewer",
  style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; opacity: 0; transition:All 0.3s ease; -webkit-transition:All 0.3s ease; -moz-transition:All 0.3s ease; -o-transition:All 0.3s ease;"
)

p(*ngIf="suggestMsg") Please add imgUrl attribute inside query params to render equi image